<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
</head>
<body>
	<h1>Welcome to...</h1>
	<h2>Taco Cloud</h2>
	<img th:src="@{/images/TacoCloud.png}" style="width:20%"/>
	<br/>
	<a rel="nofollow" class="external text" href="https://www.flickr.com/people/72949902@N00">TheCulinaryGeek</a> from Chicago, USA - <a rel="nofollow" class="external text" href="https://www.flickr.com/photos/preppybyday/5076902674/">Taco</a> Uploaded by <a href="//commons.wikimedia.org/wiki/User:The_wub" title="User:The wub">the wub</a>, <a href="https://creativecommons.org/licenses/by/2.0" title="Creative Commons Attribution 2.0">CC BY 2.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=27753534">Link</a>
</body>
</html>